/*body{
	margin-bottom: 50px !important;
}
*/
html{
	position: relative;
	min-height: 100%;
}
cite{
	text-align: right;
}

#quotes{
	margin-top:3rem;
}
#broad_name{
	margin-top:3rem;
}

#extra_large{
	font-size: 3.8rem;
	margin-bottom: 0rem;
	text-align: center;
}
#quite_large{
	font-size: 1.5rem;
	font-style: italic;
	text-align: center;
}
p.large{
	font-size: 1.7rem;
	text-align: center;
}
hr.horizon{
	width: 90%;
	height: 2px;
	background: #D3D3D3;
	margin-top:5rem;
	margin-bottom: 2.5rem;
}
#border-d-right{
	border-right: 2px solid #D3D3D3;
}

#centre{
	text-align: center;
}


#first-interest{
	text-align: left;
}
#second-interest{
	text-align: right;
}
p.justify{
	text-align: justify;
}

form.forms{
	padding: 2em 2em 0em 2em;
/*	margin-right: 15em;
	margin-left: 15em;*/
	border: 1px solid #D3D3D3;
	border-radius: 10px;

}

#namel{
	text-align: left;
}

#emaill{
	text-align: left;
}

#messagel{
	text-align: left;
}

#submitId{
	position: relative;
	float: right;
}
#btn{
	margin-bottom: 0em;
	padding-bottom: 0em;
}
.footer{
	background-color: #D3D3D3;
}
#safe{
	display: flex;
	align-items: center;
	display: table;
	margin: 0 auto;
	left: 20%;
}
#footer1{
	padding-top: 0.9375rem;
}
#footer2{
	padding-top: 0.9375rem;
}

#copyright-ish{
	position: relative;
	padding: 0rem 0.3rem 0rem 0.9375rem;
    
}
#copyright-img{
	float: right;
}

#copyright-text{
	
}

 #copyright-name{
 	padding-left: 0rem;
 }

a i,span {
	text-decoration:none;
	border:0;
	outline-style: none;
	color: #000
}
.hamburger{
	font-size: 1.5rem;
	color: #000;
}
/*#top-bar-right{
	position: absolute;
	float: right !important;
}*/
#title-bar{
	background: #D3D3D3;
	padding: 0.5rem 5rem 0.5rem 5rem;
	color: #000;
	/**padding: 0em 5em 0em 5em;**/
}

#myapp{
	width: 100%;
	height: 100%;
	object-fit: fill;
}